<html layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board, loop : ${boardList}">
            <td>
                <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
            </td>
            <td>asdf</td>
            <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/board/create}" class="btn btn-primary">글 등록하기</a>
</div>
</html>
