<!--<html layout:decorate="~{layout}"-->
<!--      xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<div layout:fragment="content" class="container">-->
<!--    <div class="my-3 border-bottom">-->
<!--        <div>-->
<!--            <h4>탈퇴</h4>-->
<!--        </div>-->
<!--    </div>-->
<!--    <form th:action="@{/user/delete}" th:action method="post" th:object="${signInForm}">-->
<!--        <div>-->
<!--            <label th:for="password">비밀번호 체크 : </label>-->
<!--            <input type="password" th:field="*{password}" th:errorclass="field-error"/>-->
<!--            <div class="field-error" th:errors="*{password}" />-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">회원탈퇴</button>-->
<!--    </form>-->
<!--</div>-->
<!--</html>-->