<html layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container">
    <h2 style="display: inline">사용자의 ID(Name)는 </h2>
    <h2 style="display: inline" th:text="${#authentication.name}"></h2>
    <h2 style="display: inline" >입니다.</h2>
    <form>
        <div>
            <label>
                <input>
            </label>
        </div>
        <div>
            <label>
                <input>
            </label>
        </div>
    </form>


</div>
</html>